
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide{
    <section class="page-info new-block">
        <div class="fixed-bg" style="background: url('images/info-bg.jpg');"></div>
        <div class="overlay"></div>
        <div class="container">
            <h2>Domnoo menu</h2>
            <div class="clear-fix"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Library</a></li>
            </ol>
        </div>
    </section>
}

<section class="domnoo-menu-filter list-grid-sec new-block">
    <div class="fixed-bg parallax" style="background-image: url(images/ptrn1.jpg);"></div>
    <div class="overlay"></div>
    <div class="filters">
        @{Html.RenderAction("ProductCategory", "Product");}
        <div class="filter-tabnav">
            <div class="container">
                <p class="showing-result">Showing 1 - 20 of 245 Products</p>
                <span class="sort-by"> Short by :</span>
                <ul class="button-group js-radio-button-group" data-filter-group="item_cat_inner">
                    <li class="sort-btn" data-sort="default:asc"><span>Newest First</span></li>
                    <li class="sort-btn" data-sort="popularity:asc"><span>Popularity</span></li>
                    <li class="sort-btn" data-sort="price:asc"><span>Low to Heigh</span></li>
                    <li class="sort-btn" data-sort="price:desc"><span>How to Low</span></li>
                </ul>
                <ul class="filter-check">
                    <li>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="level"> <span class="label-text">Veg</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="level"> <span class="label-text">Non Veg</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="level"> <span class="label-text">Pan</span>
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="list-grid-btns">
                    <button class="btn grid-btn"><i class="flaticon-menu"></i></button>
                    <button class="btn active list-btn"><i class="flaticon-grid"></i></button>
                </div>
            </div>
        </div>
        <!--// .filter-tabnav -->
    </div>

    <div class="clearfix"></div>
    <div class="grid" id="grid">
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>

            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr burgers" data-newest="3" data-popularity="2" data-price="8.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>

            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr salad" data-newest="4" data-popularity="1" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>

            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr chicken" data-newest="2" data-popularity="3" data-price="9.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$9.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr fries" data-newest="2" data-popularity="3" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr drinks" data-newest="2" data-popularity="3" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$5.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr taco" data-newest="2" data-popularity="3" data-price="9.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$9.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="10.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img12.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$10.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img12.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr burgers" data-newest="3" data-popularity="2" data-price="11.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$11.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr salad" data-newest="4" data-popularity="1" data-price="8.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$8.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr chicken" data-newest="2" data-popularity="3" data-price="12.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$12.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr fries" data-newest="2" data-popularity="3" data-price="4.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$4.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr drinks" data-newest="2" data-popularity="3" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr taco" data-newest="2" data-popularity="3" data-price="7.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="8.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img13.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$8.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img13.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr burgers" data-newest="3" data-popularity="2" data-price="9.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$9.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr salad" data-newest="4" data-popularity="1" data-price="15.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$15.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr chicken" data-newest="2" data-popularity="3" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$5.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr fries" data-newest="2" data-popularity="3" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr drinks" data-newest="2" data-popularity="3" data-price="7.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr taco" data-newest="2" data-popularity="3" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$5.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img14.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img14.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img15.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img15.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img16.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img16.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img17.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img17.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="7.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>

            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr burgers" data-newest="3" data-popularity="2" data-price="8.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>

            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr salad" data-newest="4" data-popularity="1" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>

            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr chicken" data-newest="2" data-popularity="3" data-price="9.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$9.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr fries" data-newest="2" data-popularity="3" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr drinks" data-newest="2" data-popularity="3" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$5.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr taco" data-newest="2" data-popularity="3" data-price="9.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$9.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="10.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img12.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$10.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img12.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr burgers" data-newest="3" data-popularity="2" data-price="11.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$11.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr salad" data-newest="4" data-popularity="1" data-price="8.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$8.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr chicken" data-newest="2" data-popularity="3" data-price="12.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$12.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr fries" data-newest="2" data-popularity="3" data-price="4.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$4.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr drinks" data-newest="2" data-popularity="3" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr taco" data-newest="2" data-popularity="3" data-price="7.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="8.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img13.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$8.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img13.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr burgers" data-newest="3" data-popularity="2" data-price="9.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$9.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr salad" data-newest="4" data-popularity="1" data-price="15.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$15.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img4.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr chicken" data-newest="2" data-popularity="3" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$5.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img5.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr fries" data-newest="2" data-popularity="3" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img2.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr drinks" data-newest="2" data-popularity="3" data-price="7.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/drinks.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr taco" data-newest="2" data-popularity="3" data-price="5.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$5.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/taco.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img14.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img14.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img15.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img15.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img16.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img16.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="6.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img17.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img17.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
        <div class="items-for-flr pizza" data-newest="1" data-popularity="5" data-price="7.00">
            <div class="block-stl2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                </div>
                <div class="btn-sec">
                    <a href="#" class="btn4">About More</a>
                    <a href="#" class="btn4">Add to Cart</a>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
            <div class="block-stl2_dsn2 md2">
                <div class="img-holder">
                    <img src="images/img3.png" alt="" class="img-responsive">
                </div>
                <div class="text-block">
                    <h3>Veggie Supreme</h3>
                    <p class="sz">Size : Regular</p>
                    <p class="ab-it">Lorem ipsum dolor sit amet..</p>
                    <p class="price"><span>$7.00</span> <del>$8.00 40% off</del></p>
                    <div class="btn-sec">
                        <a href="#" class="btn4">About More</a>
                        <a href="#" class="btn4">Add to Cart</a>
                    </div>
                </div>
                <span class="nonveg veg-nonveg"></span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container text-center">
        <div class="pegination-block">
            <ul class="pagination">
                <li><a href="#"><i class="flaticon-left-arrow"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="flaticon-right-arrow"></i></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="amezing-offers stl2 new-block">
    <div class="overlay"></div>
    <div class="fixed-bg parallax" style="background: url('images/bg1.png');"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="text-block-stl1">
                    <div class="title">
                        <p class="top-h">amazing offers online</p>
                        <h2>50% off pizzas online</h2>
                        <p class="bottom-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus sit amet ullamcorper.</p>
                        <a href="#" class="btn1 stl2">buy now</a>
                        <a href="#" class="btn1 stl1">about more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="img-holder">
                    <img src="images/img10.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
