@model Model.EF.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slide{
    <section class="page-info new-block">
        <div class="fixed-bg" style="background: url('images/info-bg.jpg');"></div>
        <div class="overlay"></div>
        <div class="container">
            <h2>Domnoo menu</h2>
            <div class="clear-fix"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Menu</a></li>
            </ol>
        </div>
    </section>

}

<div id="map1">

</div>

<div class="center-wrapper cn-us new-block">
    <div class="fixed-bg parallax" style="background: url('images/ptrn1.jpg');"></div>
    <div class="overlay"></div>
    <div class="send-msg new-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2>Infomation</h2>
                        <p class="bottom-p">Sed scelerisque, ipsum in rutrum gravida, odio eros maximus erat, varius pretium tellus <br> eros et quam. Vivamus interdum ligula vitae dui pulvinar congue. Aliquam faucibus</p>
                    </div>
                </div>
               
                <div class="col-lg-4 col-md-4">
                    <div class="block-stl11">
                        <i class="flaticon-placeholder"></i>
                        <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="block-stl11">
                        <i class="flaticon-phone-call"></i>
                        <p>+01 123 456 789 <br>+01 987 654 321</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="block-stl11">
                        <i class="flaticon-message"></i>
                        <p>le.quocanhhh21@gmail.com <br>le.quocanhhh21@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2>Send us a messages</h2>
                        <p class="bottom-p">Sed scelerisque, ipsum in rutrum gravida, odio eros maximus erat, varius pretium tellus <br> eros et quam. Vivamus interdum ligula vitae dui pulvinar congue. Aliquam faucibus</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <form action="#">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Address" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Contact Number" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Email id" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Write your messages.."></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <input type="button" class="btn btn3" value="Send message">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

