
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide{
    <section class="page-info new-block">
        <div class="fixed-bg" style="background: url('~/Assets/Client/images/info-bg.jpg');"></div>
        <div class="overlay"></div>
        <div class="container">
            <h2>Domnoo menu</h2>
            <div class="clear-fix"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Library</a></li>
            </ol>
        </div>
    </section>
}

<section class="about-us-block new-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-custom1 pd0">
                <div class="img-holder">
                    <img src="~/Assets/Client/images/img12.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-custom2 pd0">
                <div class="fixed-bg">
                    <img src="~/Assets/Client/images/bg8.jpg" alt="" class="img-responsive">
                </div>
                <div class="block-stl12">
                    <div class="title">
                        <p class="top-h">some interesting facts</p>
                        <h2>Lorem ipsum dolor sit am et consectetur adipis</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus fermentum neque sagittis aliquam. Cras congue, sapien quis rutrum dapibus, orci justo blandit neque </p>
                    <p>lorem eros viverra justo, sit amet fringilla risus risus tempus tortor. Vestibulum a velit quis orci porttitor euismod. Suspendisse in odio purus. Pellentesque venenatis dapibus sem. Suspendisse a ante ut justo imperdiet imperdiet a non felis. </p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                        <li><i class="fas fa-check"></i> Auisque id arcu risus. In justo nunc</li>
                        <li><i class="fas fa-check"></i> Maecenas finibus porta orci non tincidunt</li>
                        <li><i class="fas fa-check"></i> Pellentesque sed consequat eros, sed sollicitudin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="our-history new-block">
    <div class="fixed-bg parallax" style="background: url('~/Assets/Client/images/bg9.jpg');"></div>
    <div class="overlay"></div>
    <div class="container-fluid pd0">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">winter special offer</p>
                    <h2>our history</h2>
                    <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    <p class="bottom-p">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        <br>Curabitur erat turpis posuere ac ante at
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="history_slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="block-stl13">
                            <div class="txt-container">
                                <h3>year 2004</h3>
                                <p>
                                    Lorem ipsum dolor consectetur adipiscing elit. Sed damentum neque sagittis aliquam.
                                </p>
                                <p>Cras congue, sapien qurutrum dapibus, orci justconsectetur felis lorem stortor. </p>
                                <a href="#" class="btn1 stl2">shop now</a>
                            </div>
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/img14.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl13">
                            <div class="txt-container">
                                <h3>year 2005</h3>
                                <p>
                                    Lorem ipsum dolor consectetur adipiscing elit. Sed damentum neque sagittis aliquam.
                                </p>
                                <p>Cras congue, sapien qurutrum dapibus, orci justconsectetur felis lorem stortor. </p>
                                <a href="#" class="btn1 stl2">shop now</a>
                            </div>
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/img15.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl13">
                            <div class="txt-container">
                                <h3>year 2006</h3>
                                <p>
                                    Lorem ipsum dolor consectetur adipiscing elit. Sed damentum neque sagittis aliquam.
                                </p>
                                <p>Cras congue, sapien qurutrum dapibus, orci justconsectetur felis lorem stortor. </p>
                                <a href="#" class="btn1 stl2">shop now</a>
                            </div>
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/img16.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl13">
                            <div class="txt-container">
                                <h3>year 2007</h3>
                                <p>
                                    Lorem ipsum dolor consectetur adipiscing elit. Sed damentum neque sagittis aliquam.
                                </p>
                                <p>Cras congue, sapien qurutrum dapibus, orci justconsectetur felis lorem stortor. </p>
                                <a href="#" class="btn1 stl2">shop now</a>
                            </div>
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/img17.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="meet-our-chef new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">we make special</p>
                    <h2>meet our chef</h2>
                    <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    <p class="bottom-p">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        <br>Curabitur erat turpis posuere ac ante at
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img18.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>john doe</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img19.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>Noah Jacob</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img20.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>James Ava</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img21.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>Emily Mia</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img22.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>Charlotte Harper</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img23.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>William Ethan</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img24.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>Emma Tom</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="block-stl14">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img25.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
                                <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5>Alexander Deo</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vid-sec new-block">
    <div class="fixed-bg parallax" style="background: url('~/Assets/Client/images/bg10.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="vid-block">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img26.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="ovl">
                        <h4>Sed eu lacus tincidunt luctus tellus vitae luctus augue</h4>
                        <a class="video" title="Why Us" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                            <i class="flaticon-video-player"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-sec new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">we make special</p>
                    <h2>our gallery</h2>
                    <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    <p class="bottom-p">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        <br>Curabitur erat turpis posuere ac ante at
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl14 stl2">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img27.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="~/Assets/Client/images/big-img1.jpg" class="image-gal"><i class="flaticon-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl14 stl2">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img28.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="~/Assets/Client/images/big-img2.jpg" class="image-gal"><i class="flaticon-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl14 stl2">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img29.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="~/Assets/Client/images/big-img3.jpg" class="image-gal"><i class="flaticon-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl14 stl2">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img30.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="~/Assets/Client/images/big-img4.jpg" class="image-gal"><i class="flaticon-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl14 stl2">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img31.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="~/Assets/Client/images/big-img5.jpg" class="image-gal"><i class="flaticon-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl14 stl2">
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img32.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <ul class="social-nav">
                                <li><a href="~/Assets/Client/images/big-img6.jpg" class="image-gal"><i class="flaticon-add"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="great-thankful new-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">this month</p>
                    <h2>Our blog</h2>
                    <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    <p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>Curabitur erat turpis posuere ac ante at</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="th-slider owl-theme owl-carousel">
                    <div class="item">
                        <div class="img-holder">
                            <img src="~/Assets/Client/images/gt-logo1.png" alt="" class="img-responsive img1">
                            <img src="~/Assets/Client/images/gt-logo_1.png" alt="" class="img-responsive img2">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-holder">
                            <img src="~/Assets/Client/images/gt-logo2.png" alt="" class="img-responsive img1">
                            <img src="~/Assets/Client/images/gt-logo_2.png" alt="" class="img-responsive img2">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-holder">
                            <img src="~/Assets/Client/images/gt-logo1.png" alt="" class="img-responsive img1">
                            <img src="~/Assets/Client/images/gt-logo_1.png" alt="" class="img-responsive img2">
                        </div>
                    </div> 
                    <div class="item">
                        <div class="img-holder">
                            <img src="
                                 
                                 /gt-logo2.png" alt="" class="img-responsive img1">
                            <img src="~/Assets/Client/images/gt-logo_2.png" alt="" class="img-responsive img2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

