@model List<OderFoodOnline.Models.CartItem>
<ul class="list-unstyled">
    <li><a href="/Cart/Index"><i class="flaticon-scooter-front-view"></i><span class="nav-price">$00.00</span></a></li>
    <li>@Model.Count item(s) </li>
</ul>
